@media (min-width: 769px) {
  .mobile-view {
    display: none;
  }
  .desktop-view {
    display: block;
    width: 26%;
    margin-block: 3rem;
  }

  body {
    width: 95%;
    margin-inline: auto;
    align-items: stretch;
    gap: 2rem;
  }

  body::before {
    content: "";
    position: absolute;
    top: 12%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: url("./images/bg-pattern-quotation.svg") no-repeat center center;
    background-size: contain;
    opacity: 0.5;
    z-index: 0;
    width: 100px;
    height: 150px;
  }

  main {
    gap: 5px;
    width: 100%;
  }

  .jonathan-div, .jeanette-div, .patrick-div {
    margin-block: 0;
  }

  .first-main, .second-main {
    display: flex;
    gap: 1.5rem;
  }

  .second-main {
    margin-top: 2rem;
  }
}
