* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-view {
  display: block;
}
.desktop-view {
  display: none;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ecf2f8 0%, #dbe3ea 100%);
  position: relative;
}

main {
  margin-top: 3rem;
  width: 80%;
}

.testimony {
  margin-block: 2.5rem;
  padding-inline: 1.9rem;
  padding-block: 2rem;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.img-div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
}

.img-div img {
  border-radius: 50%;
  outline: 2px solid white;
}

.name {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.daniel-div {
  background-color: #6d28d9;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  color: white;
}

.topic {
  font-weight: 500;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.review {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.3rem;
}

.jonathan-div {
  background-color: hsl(219, 19%, 35%);
  color: white;
}

.jeanette-div, .kira-div {
  background-color: white;
  color: black;
}

.patrick-div {
  background-color: hsl(222, 29%, 14%);
  color: white;
}